In [14]:
import pandas as pd
import requests
import io
from sqlalchemy import create_engine

In [17]:
url = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet"
engine = create_engine('postgresql://dateng26:dateng26@localhost:5432/dateng')

headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36',
    'Accept': '*/*',
    'Connection': 'keep-alive',}
response = requests.get(url, headers=headers)

In [19]:
if response.status_code == 200:
    # Baca parquet dari memori
    df = pd.read_parquet(url)
    
    # 3. Terapkan Mapping Perubahan Schema Anda
    schema_updates = {
        'VendorID': 'Int64',
        'RatecodeID': 'Int64',
        'passenger_count': 'Int64',
        'payment_type': 'Int64',
        'trip_type': 'Int64',
        'store_and_fwd_flag': 'string'
    }
    df = df.astype(schema_updates)
    df

    # 4. Insert ke SQL
    # Tips: 'if_exists=replace' akan membuat tabel baru berdasarkan schema df Anda
    # df.to_sql(name='green_taxi_2025_11', con=engine, if_exists='replace', index=False)
    
    print("Selesai! Data berhasil masuk ke tabel 'green_taxi_2025_11'.")
else:
    print(f"Gagal download! HTTP Status: {response.status_code}")

ArrowInvalid: Could not open Parquet input source '<Buffer>': Parquet file size is 0 bytes

In [6]:
# Buat mapping perubahan
schema_updates = {
    'VendorID': 'Int64',
    'RatecodeID': 'Int64',
    'passenger_count': 'Int64',
    'payment_type': 'Int64',
    'trip_type': 'Int64',
    'store_and_fwd_flag': 'string'
}
# Terapkan ke dataframe
df = df.astype(schema_updates)

# Cek kembali
print(df.dtypes)

NameError: name 'df' is not defined

In [1]:
url = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet"
url

'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet'

In [2]:
# Tentukan nama tabel
table_name = 'green_taxi_data_2025_11'

# Proses upload
df.to_sql(
    name=table_name, 
    con=engine, 
    if_exists='replace', # Gunakan 'replace' untuk pertama kali, 'append' jika menambah data
    index=False,         # Jangan masukkan index pandas sebagai kolom
    chunksize=1000     # Kirim per 100rb baris agar stabil
)

print(f"Selesai! Data berhasil dimasukkan ke tabel: {table_name}")

NameError: name 'df' is not defined

In [30]:
df = pd.read_parquet(url)

In [31]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.50,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.70,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.40,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,None,NaN,59,51,NaN,8.50,33.22,...,0.5,0.00,0.0,NaN,1.0,34.72,NaN,NaN,NaN,0.00
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,None,NaN,74,151,NaN,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.00
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,None,NaN,33,163,NaN,7.52,38.42,...,0.5,1.00,0.0,NaN,1.0,44.42,NaN,NaN,NaN,0.75
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,None,NaN,16,95,NaN,5.61,24.67,...,0.5,0.00,0.0,NaN,1.0,26.17,NaN,NaN,NaN,0.00
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,None,NaN,65,87,NaN,2.91,14.46,...,0.5,3.89,0.0,NaN,1.0,23.35,NaN,NaN,NaN,0.75