In [11]:
import pandas as pd
import requests
import io

In [12]:
url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8',
    'Accept-Language': 'en-US,en;q=0.9',
}

In [13]:
response = requests.get(url, headers=headers)

if response.status_code == 200:
    df = pd.read_csv(io.StringIO(response.text))
    print("Berhasil!")
    print(df.head())
else:
    print(f"Masih gagal. Status: {response.status_code}")
    print("Respon Server:", response.text[:100])

Berhasil!
   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [16]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                      NaN          NaN
264         265            NaN           Outside of NYC          NaN

[265 rows x 4 columns]

In [17]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://dateng26:dateng26@localhost:5432/dateng')

In [18]:
df.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [19]:
df.to_sql(name='zone', con=engine, if_exists='replace', index=False)

265