In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import re
import hashlib
from sqlalchemy import text

In [2]:
# https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-01.parquet
# https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-01.parquet

In [3]:
url = "https://d37ci6vzurychx.cloudfront.net/trip-data/"
color = "yellow"
year = 2025
month = "02"
file_name = f"{color}_tripdata_{year}-{month}.parquet"
source_url = f"{url}{file_name}"

df = pd.read_parquet(source_url)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,2,2025-02-01 00:12:18,2025-02-01 00:32:33,3.0,3.12,1.0,N,246,79,1,19.80,1.00,0.5,5.11,0.0,1.0,30.66,2.5,0.0,0.75
1,2,2025-02-01 00:40:04,2025-02-01 00:49:15,1.0,1.40,1.0,N,114,79,1,10.00,1.00,0.5,3.15,0.0,1.0,18.90,2.5,0.0,0.75
2,1,2025-02-01 00:06:09,2025-02-01 00:11:51,0.0,0.40,1.0,N,211,144,1,6.50,4.25,0.5,1.00,0.0,1.0,13.25,2.5,0.0,0.75
3,1,2025-02-01 00:15:13,2025-02-01 00:20:19,0.0,0.70,1.0,N,113,249,1,7.20,4.25,0.5,2.00,0.0,1.0,14.95,2.5,0.0,0.75
4,2,2025-02-01 00:02:52,2025-02-01 00:20:25,1.0,4.19,1.0,N,113,263,1,19.80,1.00,0.5,5.11,0.0,1.0,30.66,2.5,0.0,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3577538,2,2025-02-28 23:39:09,2025-03-01 00:05:17,NaN,13.73,NaN,None,209,127,0,47.56,0.00,0.5,0.00,0.0,1.0,52.31,NaN,NaN,0.75
3577539,2,2025-02-28 23:45:00,2025-02-28 23:56:22,NaN,1.39,NaN,None,4,234,0,-4.75,0.00,0.5,0.00,0.0,1.0,2.36,NaN,NaN,0.75
3577540,2,2025-02-28 23:28:19,2025-02-28 23:38:18,NaN,1.14,NaN,None,107,4,0,12.68,0.00,0.5,0.00,0.0,1.0,17.43,NaN,NaN,0.75
3577541,2,2025-02-28 23:46:52,2025-03-01 00:02:48,NaN,7.43,NaN,None,50,243,0,-4.75,0.00,0.5,0.00,0.0,1.0,5.17,NaN,NaN,0.75
3577542,2,2025-02-28 23:19:37,2025-02-28 23:31:41,NaN,4.23,NaN,None,116,142,0,20.90,0.00,0.5,0.00,0.0,1.0,24.90,NaN,NaN,0.00

In [4]:
unique_combined = (
    df['VendorID'].astype(str) + 
    df['tpep_pickup_datetime'].astype(str) + 
    df['tpep_dropoff_datetime'].astype(str) + 
    df['PULocationID'].astype(str) + 
    df['DOLocationID'].astype(str) + 
    df['fare_amount'].astype(str) + 
    df['trip_distance'].astype(str)
)

# Hash semuanya sekaligus
df['unique_id'] = unique_combined.apply(lambda x: hashlib.md5(x.encode()).hexdigest())

In [5]:
df['file_name'] =  file_name

In [6]:
df.sort_values(by=["tpep_dropoff_datetime"], ascending=True, inplace=True)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,unique_id,file_name
2552,2,2025-01-31 22:22:53,2025-01-31 22:30:00,1.0,0.65,1.0,N,68,246,1,...,0.5,3.41,0.0,1.0,17.06,2.5,0.0,0.75,936635b6352324be741e4f1a7553c893,yellow_tripdata_2025-02.parquet
2553,2,2025-01-31 22:33:59,2025-01-31 22:42:53,1.0,1.68,1.0,N,48,163,1,...,0.5,0.00,0.0,1.0,15.75,2.5,0.0,0.75,96508828065b0d8eb362d3719acbb3e7,yellow_tripdata_2025-02.parquet
2554,2,2025-01-31 23:01:44,2025-01-31 23:04:15,1.0,0.80,1.0,N,48,48,1,...,0.5,1.73,0.0,1.0,13.28,2.5,0.0,0.75,20d8520968dacba011749acc41c2a9db,yellow_tripdata_2025-02.parquet
2555,2,2025-01-31 23:07:03,2025-01-31 23:18:01,1.0,1.95,1.0,N,48,90,1,...,0.5,4.46,0.0,1.0,22.31,2.5,0.0,0.75,6e459bde55861f81c968fad017ba1551,yellow_tripdata_2025-02.parquet
2639,2,2025-01-31 23:22:00,2025-01-31 23:29:07,1.0,1.93,1.0,N,249,246,1,...,0.5,3.15,0.0,1.0,18.90,2.5,0.0,0.75,655142a2a1b1a237f2d651536f9f76c8,yellow_tripdata_2025-02.parquet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2763398,2,2025-02-28 22:25:24,2025-03-01 21:31:31,1.0,1.30,1.0,N,137,79,2,...,0.5,0.00,0.0,1.0,15.75,2.5,0.0,0.75,d5a07a462cd70874eea202c23d008869,yellow_tripdata_2025-02.parquet
2758444,2,2025-02-28 22:37:31,2025-03-01 22:23:04,1.0,3.40,1.0,N,142,90,1,...,0.5,6.39,0.0,1.0,31.94,2.5,0.0,0.75,0524cdfcf8106d97408d6c7c12d71b57,yellow_tripdata_2025-02.parquet
2764366,2,2025-02-28 23:08:53,2025-03-01 22:53:49,1.0,1.63,1.0,N,186,158,1,...,0.5,3.43,0.0,1.0,20.58,2.5,0.0,0.75,f5c395ddc1aa78dee4557660ca7a9172,yellow_tripdata_2025-02.parquet
2767993,2,2025-02-28 23:12:06,2025-03-01 23:09:44,1.0,1.56,1.0,N,263,140,1,...,0.5,2.04,0.0,1.0,15.64,2.5,0.0,0.00,7db9486d4b7bd034672ccb297836b131,yellow_tripdata_2025-02.parquet
2766230,2,2025-02-28 23:18:55,2025-03-01 23:13:42,1.0,0.72,1.0,N,237,236,1,...,0.5,0.00,0.0,1.0,11.50,2.5,0.0,0.00,36ee1db0954c29820efc1db6e1783f54,yellow_tripdata_2025-02.parquet

In [7]:
df.dtypes

VendorID                          int32
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int32
DOLocationID                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
cbd_congestion_fee              float64
unique_id                        object
file_name                        object
dtype: object

In [8]:
df.shape

(3577543, 22)

In [9]:
cast_data_types = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "file_name": "string",
    "unique_id": "string"
}

In [10]:
df = df.astype(cast_data_types)

In [11]:
df.dtypes

VendorID                          Int64
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                   Int64
trip_distance                   float64
RatecodeID                        Int64
store_and_fwd_flag       string[python]
PULocationID                      Int64
DOLocationID                      Int64
payment_type                      Int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
cbd_congestion_fee              float64
unique_id                string[python]
file_name                string[python]
dtype: object

In [12]:
# 1. Cabut kolom dari posisi lama dan simpan ke variabel sementara
col_uid = df.pop('unique_id')
col_filename = df.pop('file_name')

# 2. Masukkan kembali ke posisi paling depan (index 0 dan 1)
df.insert(0, 'unique_id', col_uid)
df.insert(1, 'file_name', col_filename)

In [13]:
df.dtypes

unique_id                string[python]
file_name                string[python]
VendorID                          Int64
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                   Int64
trip_distance                   float64
RatecodeID                        Int64
store_and_fwd_flag       string[python]
PULocationID                      Int64
DOLocationID                      Int64
payment_type                      Int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
cbd_congestion_fee              float64
dtype: object

In [14]:
def to_snake_case(name):
    # Tambahkan underscore sebelum huruf besar yang diawali huruf kecil (VendorID -> Vendor_ID)
    s1 = re.sub('(.)([A-Z][a-z]+)', r'\1_\2', name)
    # Pisahkan singkatan besar (Vendor_ID -> vendor_id)
    return re.sub('([a-z0-9])([A-Z])', r'\1_\2', s1).lower()

In [15]:
df.columns = [to_snake_case(col) for col in df.columns]

In [16]:
df.dtypes

unique_id                string[python]
file_name                string[python]
vendor_id                         Int64
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                   Int64
trip_distance                   float64
ratecode_id                       Int64
store_and_fwd_flag       string[python]
pu_location_id                    Int64
do_location_id                    Int64
payment_type                      Int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
cbd_congestion_fee              float64
dtype: object

In [17]:
from sqlalchemy import create_engine

In [18]:
engine = create_engine('postgresql://dateng26:dateng26@localhost:5432/dateng')

In [19]:
# print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

In [20]:
query_create_staging = f"""
CREATE TABLE IF NOT EXISTS staging_{color}_taxi_data (
    unique_id TEXT,
    file_name TEXT,
    vendor_id INT,
    tpep_pickup_datetime TIMESTAMP,
    tpep_dropoff_datetime TIMESTAMP,
    passenger_count INT,
    trip_distance numeric(10,2),
    ratecode_id INT,
    store_and_fwd_flag TEXT,
    pu_location_id INT,
    do_location_id INT,
    payment_type INT,
    fare_amount numeric(10,2),
    extra numeric(10,2),
    mta_tax numeric(10,2),
    tip_amount numeric(10,2),
    tolls_amount numeric(10,2),
    improvement_surcharge numeric(10,2),
    total_amount numeric(10,2),
    congestion_surcharge numeric(10,2),
    airport_fee numeric(10,2),
    cbd_congestion_fee numeric(10,2)
)"""

In [21]:
with engine.begin() as conn:
    conn.execute(text(query_create_staging))
    print(f"Tabel staging_{color}_taxi_data created.")

Tabel staging_yellow_taxi_data created.

In [22]:
chunk_size = 5000
table_name = f"staging_{color}_taxi_data"

total_chunks = int(np.ceil(len(df) / chunk_size))

with tqdm(total=total_chunks, desc="Load staging") as progressbar:
    for i, chunk in enumerate(range(0, len(df), chunk_size)):
        df_chunk = df.iloc[chunk : chunk + chunk_size]

        df_chunk.to_sql(
            name=table_name, con=engine, if_exists="append", index=False, method="multi"
        )

        progressbar.update(1)

print("Load data selesai!")

Load staging: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 716/716 [25:22<00:00,  2.13s/it]

Load data selesai!

In [23]:
query_merge = f"""
MERGE INTO {color}_taxi_data AS S
USING staging_{color}_taxi_data AS T
ON S.unique_id = T.unique_id
WHEN NOT MATCHED THEN
    INSERT (unique_id, file_name, vendor_id, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, ratecode_id, store_and_fwd_flag, pu_location_id, do_location_id, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee, cbd_congestion_fee)
    VALUES (T.unique_id, T.file_name, T.vendor_id, T.tpep_pickup_datetime, T.tpep_dropoff_datetime, T.passenger_count, T.trip_distance, T.ratecode_id, T.store_and_fwd_flag, T.pu_location_id, T.do_location_id, T.payment_type, T.fare_amount, T.extra, T.mta_tax, T.tip_amount, T.tolls_amount, T.improvement_surcharge, T.total_amount, T.congestion_surcharge, T.airport_fee, T.cbd_congestion_fee)
    """
with engine.begin() as conn:
    result = conn.execute(text(query_merge))
    print(f"Berhasil memindahkan {result.rowcount} baris ke tabel target.")

Berhasil memindahkan 3577543 baris ke tabel target.

In [24]:
query_truncate = f"TRUNCATE TABLE staging_{color}_taxi_data;"
with engine.begin() as conn:
    conn.execute(text(query_truncate))
    print(f"Tabel staging_{color}_taxi_data telah dikosongkan.")

Tabel staging_yellow_taxi_data telah dikosongkan.